#titulo-principal{color:white;
background-color: #21022d;
text-align: center;
margin: 0%;
}
#corpo-do-texto{background-color: #e2d8e7;
margin: 24px;
}
#intolerantes-a-lactose{text-align: center;}
#contato{text-align: center;
background-color: #21022d;
color: white;}
